.menu {
  color: $grey-5;
  font-weight: 700;
  position: relative;
  &:hover,
  &.active {
    &::before,
    &::after {
      content: '';
      border: 8px transparent solid;
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      z-index: 1;
    }
    &::before {
      border-right-color: $negative;
      left: 0;
      animation: left 0.3s forwards;
    }
    &::after {
      border-left-color: $negative;
      right: 0;
      animation: right 0.3s forwards;
    }
    & > span {
      color: $grey-1;
      position: relative;
      &::after {
        content: '';
        background-color: $grey-1;
        height: 1px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -7px;
      }
    }
  }
}
@keyframes left {
  50% {
    left: -28px;
  }
  100% {
    left: -24px;
  }
}
@keyframes right {
  50% {
    right: -28px;
  }
  100% {
    right: -24px;
  }
}
